div#beltList,
div#courseUnits {
    background: var(---background) !important;
}

div.reviewAnswerList,
div.taskUnlocked,
div.taskCompleted,
div#topRibbon,
div.sidebarFrame,
#lessonSidebar,
div#sectionLinks,
div.taskExpanded {
    background: var(--foreground) !important;
}

div.taskNameUnlocked,
td.leaderboardUserName {
    color: #dcddde !important;
}

a#learnHeaderLink,
div.stepHeader,
div.explanationHeader,
#topicName,
div#prerequisitesHeader,
span.taskTypeUnlocked,
a.courseNameLink,
div.sidebarHeader,
span.taskTypeLocked,
td#leaderboardTitle,
span.tabSelected,
span.taskPointsUnlocked,
div.taskPrerequisitesHeader,
a.stepAnchor {
    color: var(--light-blue) !important;
}

a.sectionLink {
    color: rgb(92, 92, 92) !important;
}

a.prerequisiteLink {
    color: rgb(152, 152, 152) !important;
}

div.choiceLetterCircle {
    background: #3a3d41;
}

span.pointsGained,
div.coursePointsAhead {
    color: lightgreen !important;
}

td.leaderboardUserBelt>img,
img#courseBelt {
    filter: saturate(50%);
}

div#beltList {
    box-shadow: none !important;
}

div.question {
    margin-bottom: 10px;
}