div#lessonFrame {
    background: var(---background) !important;
}

.step {
    background: var(--foreground) !important;
}

.step p {
    color: var(--text-color) !important;
}

div.question {
    color: var(--text-color) !important;
    background: var(--foreground) !important;
}