div#reviewFrame {
    background: var(---background) !important;
}

a.topicLink,
.questionHeader {
    color: var(--light-blue) !important;
}

td.choiceLetter>div.choiceLetterCircle {
    background: #56585c;
}

td.choiceLetter>div.selectedChoice {
    /* background: rgb(60, 60, 60); */
    background: var(--foreground);
}

.step,
div#questionAnswerFrame {
    background: var(--foreground);
}

td.augmentation {
    vertical-align: top;
}

div#prerequisiteFrame {
    width: 300px;
    background: var(--foreground);
    border: 1px solid rgb(224, 224, 224);
    margin-top: 15px;
    font-size: 13px;
    padding: 15px;
    margin-right: 25px;
}

object#prerequisiteBrowser {
    background: var(--foreground);
    border: 1px solid rgb(224, 224, 224);
    margin-top: 15px;
    width: 500px;
    overflow: hidden;
    height: 500px;
    scrollbar-color: inherit;
    margin-left: 25px;
}

div.prerequisite {
    margin-top: 5px;
    vertical-align: middle;
}

div#prerequisiteHeader {
    font-weight: bold;
}

div.question {
    color: #dcddde !important;
}