:root {
    ---background: #23272A;
    --foreground: #2C2F33;
    --light-blue: #2498eb;
    --text-color: #dcddde !important;
}

div.graphic>img {
    /* changes how graphs and images look */
    filter: invert(100%) grayscale(40%);
}

td,
li,
.mjpage,
span {
    color: var(--text-color) !important;
}

body {
    background: var(---background) !important;
}