:root {
    --main-background-color: #23272A;
    --secondary-background-color: #2C2F33;
    --light-blue: #2498eb;
    --main-text-color: #dcddde !important;
}

div.graphic > img {
    /* changes how graphs and images look */
    filter: invert(100%) grayscale(40%);
}

td,
li,
.mjpage,
span {
    color: var(--main-text-color) !important;
}

body {
    background: var(--main-background-color) !important;
}